* {
  margin: 0rem;
  padding: 0rem;
}

/* header section start */

.header {
  width: 90rem;
  height: 43.625rem;
  margin: 0rem auto;
  /* overflow: auto; */
  background-image: url("assets/hero_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid red;
}

/* nav-banner-container */

.nav-banner-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border: 3px solid green;
  flex-direction: column; */
}

/* nav section */

.nav {
  display: flex;
  width: 71.25rem;
  justify-content: space-between;
  align-items: center;
  margin: 3.12rem auto 0rem auto;
  height: auto;
}
.nav > p {
  color: #4e47ff;
  font-family: Inter;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 3.1875rem */
  cursor: pointer;
}
.nav > a > button {
  height: 3rem;
  padding: 0.75rem 2.25rem;
  border-radius: 0.625rem;
  background-color: #4e47ff;
  color: #fff;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 700;
  /* outline: none; */
  border: none;
  line-height: 150%; /* 1.5rem */
  cursor: pointer;
}
.nav > a > button:hover {
  background-color: #4338ca;
}

/* banner text start */

.banner-text-container {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  justify-content: center;
  align-items: center;
  height: 34rem;
  /* text-align: center; */
}

.banner-main-text {
  color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 4.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* align-self: stretch; */
}

/* <!-- banner btn --> */

.banner-text-container > a > button {
  height: 3rem;
  padding: 0.75rem 2.25rem;
  border-radius: 0.625rem;
  background-color: #4e47ff;
  color: #fff;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 700;
  /* outline: none; */
  border: none;
  line-height: 150%; /* 1.5rem */
  cursor: pointer;
}

.banner-text-container > a > button:hover {
  background-color: #4338ca;
}

/* main section here */

.main-container {
  width: 90rem;
  height: auto;
  margin: 6rem auto;
  border: 2px dashed rebeccapurple;
}

/* see-action-section-container */

.see-action-section-container {
  border: 2px solid green;
  display: flex;
  width: 71.25rem;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
}

/* text-btn-container */

.text-btn-container > h1 {
  color: #252432;
  font-family: Raleway;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-btn-container > p {
  color: rgba(37, 36, 50, 0.5);
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 125% */
  margin: 1.44rem 0rem;
}
.text-btn-container > a > button {
  height: 3rem;
  padding: 0.75rem 2.25rem;
  border-radius: 0.625rem;
  background-color: #4e47ff;
  color: #fff;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 700;
  /* outline: none; */
  border: none;
  line-height: 150%; /* 1.5rem */
  cursor: pointer;
}

.text-btn-container > a > button:hover {
  background-color: #4338ca;
}
.see-action-section-container > img {
  border-radius: 3rem;
}

/* joined-thousands-section-container */

.joined-thousands-section-container {
  border: 2px solid rgb(246, 0, 241);
  width: 71.25rem;
  /* height: 2rem; */
  margin: 7rem auto;
  display: flex;
  width: 71.25rem;
  padding: 3.125rem 0rem;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 3rem;
  border-radius: 1.5rem;
  background: rgba(78, 71, 255, 0.1);
}

.joined-thousands-section-container > h1 {
  color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* big-numbers-container */
.big-numbers-container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: aqua; */
  align-items: center;
}
.big-numbers-container > .big-number {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

/* big-numbers */

.big-number > .big-numbers {
  color: var(--Primary-Color, #4e47ff);
  font-family: Inter;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.big-number > .big-numbers-her-text {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* star-ratings-section-container */

.star-ratings-section-container {
  border: 2px solid rgb(0, 246, 168);
  width: 71.25rem;
  /* height: 2rem; */
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background: rgba(76, 0, 255, 0.471); */
}

.star-ratings-section-container > h1 {
  color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.star-ratings-main-container {
  display: flex;
  justify-content: space-between;
}

/* star ratings container */
.star-ratings-container {
  display: flex;
  justify-content: space-between;
}

/* star-cards */
.star-cards {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  border-radius: 0.875rem;
  border: 2px solid #f2eded;
  background: rgba(255, 255, 255, 0.5);
}

/* stars-img-container */
.stars-img-container {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 1.5rem;
}

/* star-card-text-container */
.star-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.star-card-text-container > h1 {
  font-family: Inter;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4;
}
.star-card-text-container > p {
  font-family: Inter;
  font-size: 1rem;
  line-height: 1;
}

/* star-card-avatar-container */
.star-card-avatar-container {
  display: flex;
  align-items: center;
  /* justify-items: center; */
  gap: 0.6rem;
  margin-top: 1.5rem;
}

.star-card-avatar-container > img {
  border-radius: 50%;
  border: 2px solid #f2eded;
}

/* avatar-text-container */

.avatar-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.avatar-text-container > h1 {
  color: rgba(37, 36, 50, 0.754);
  font-weight: 500;
  font-size: 1.1rem;
  font-family: Inter;
}
.avatar-text-container > p {
  color: rgba(37, 36, 50, 0.5);
  font-weight: 400;
  font-family: Inter;
}

/* focus-main-container */
.focus-main-container {
  width: 71.25rem;
  background-color: aqua;
  border: 2px solid blueviolet;
  margin: 0rem auto 7rem auto;
  padding: 4.44rem 0rem;
}

.focus-text-and-btn-containers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}
.focus-text-and-btn-containers > h1 {
  color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.focus-text-and-btn-containers > p {
  font-family: Inter;
  font-size: 1rem;
  line-height: 1;
  color: rgba(37, 36, 50, 0.5);
}
.focus-text-and-btn-containers > a > button {
  height: 3rem;
  padding: 0.75rem 2.25rem;
  border-radius: 0.625rem;
  background-color: #4e47ff;
  color: #fff;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 700;
  /* outline: none; */
  border: none;
  line-height: 150%; /* 1.5rem */
  cursor: pointer;
}

.focus-text-and-btn-containers > a > button:hover {
  background-color: #4338ca;
}

.focus-main-container > img {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 0rem auto;
  border-radius: 3rem;
}

/* massage-section-main-container */

.massage-section-main-container {
  width: 71.25rem;
  border: 2px solid red;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  /* gap: 2.8rem; */
}

.massage-section-main-container > h1 {
  color: #000;
  font-family: Raleway;
  font-size: 6.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 7.275rem */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* main-input-section-container */
.main-input-section-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main-input-section-container > a > button {
  width: 100%;
  display: flex;
  padding: 1.1875rem 6.3125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  background: #4e47ff;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.5rem */
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
.main-input-section-container > a > button:hover {
  background-color: #4338ca;
}

.main-input-section-container > p {
  color: #000;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.35rem */
  margin: 1rem 0rem 0.4rem 0rem;
}

/* main-input-section-container > input */
.main-input-section-container > .input {
  display: flex;
  height: 4.375rem;
  padding: 0.1rem 2rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.625rem;
  border: 1px solid #d6dded;
  background: #fff;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
}
.main-input-section-container > .textarea {
  display: flex;
  padding: 1.5rem 2rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 0.625rem;
  border: 1px solid #d6dded;
  background: #fff;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.875rem */
}

/* footer-main-container */
.footer-main-container {
  border: 3px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 10rem 0rem;
}
.footer-main-container > h1 {
  color: #4e47ff;
  text-align: center;
  font-family: Inter;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer-main-container > p {
  color: #8987a1;
  text-align: center;

  /* Paragraph */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

.bottom-nav {
  display: flex;
  gap: 3rem;
}
.bottom-nav > p {
  color: #8987a1;

  /* Paragraph */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  cursor: pointer;
}

/*  */
